#forkme {
    position: fixed; /* options: fixed, absolute */
    top: 0;
    right: 0;
    z-index: -9999;
    width: 140px;
    height: 140px;
    text-indent: -9999px;
    background-image: url("../img/forkme.png");
}

@media (-webkit-min-device-pixel-ratio: 2) {
    #forkme {
        background-image: url("../img/forkme@2x.png") !important;
        -webkit-background-size: 140px 140px;
    }
}
