body {
   margin: 0;
   padding: 0;
}
button {
  font: 14px Helvetica Neue;
  background-color: #222;
  background-image: -moz-linear-gradient(top, rgba(255,255,255,.25), rgba(255,255,255,.11));
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, rgba(255,255,255,.25)),color-stop(1, rgba(255,255,255,.11)));
  background-image: -webkit-linear-gradient(rgba(255,255,255,.25), rgba(255,255,255,.11));
  color: #fff;
  text-rendering: optimizeLegibility;
  text-shadow: 0 -1px 1px #222;
  padding: 6px 10px 6px 10px;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #222;
  margin: 0;
  -moz-box-shadow: 0 1px 3px #999;
  -webkit-box-shadow: 0 1px 3px #999;
}

button.first {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

button.last {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

button.active {
  background-color: rgb(65,102,133);
}

button:hover {
  background-color: steelblue;
}
#space {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}
#button {
    position: absolute;
    top: 20px;
    left: 20px;
}

svg text {
    font-family: "Helvetica Neue",Arial;
    font-size: 24px;
}

svg text.header {
    font-size: 22px;
    font-weight: 100;
}

.value {
    z-index: 3;
}

#render { 
  position: absolute;
}

#render, svg {
  width: 100%;
  height: 100%;
}

rect.background, circle.anchor {
    opacity: 0;
}

rect.background.selected, circle.anchor.selected {
    opacity: 1;
}

.background, rect.selected {
    stroke-dasharray: 4px;
    stroke-opacity  : 0.5;
}

rect.selection {
    stroke          : gray;
    stroke-dasharray: 4px;
    stroke-opacity  : 0.5;
    fill            : transparent;
}

svg *::selection {
    background : transparent;
}

svg *::-moz-selection {
    background:transparent;
}

svg *::-webkit-selection {
    background:transparent;
}